<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/font-awesome.css">
</head>
<body style="margin: 0; padding: 0">
<div class="navbar-dark bg-info box-shadow user-padding-left">
    <a class="navbar-brand" href="/">Index</a>
    <a class="navbar-brand" href="/authorization">Authorization</a>
    <a class="navbar-brand" href="/register">Registration</a>
</div>

<div class="user-padding-left">
    <h1>Sorry, you can not see the content, while you're not authorized</h1>
    <hr>
    If you have an account :<a href="/authorization"> you can authorize</a>
    <hr>
    If you don't have an account : <a href="/register">you can register</a>
</div>

<div class="page-footer font-small text-center user-footer">2020</div>
</body>
</html>