<!DOCTYPE html>
<html>
<head>
    <title>{{.Pagetitle}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/font-awesome.css">
</head>

<body>

<div class="navbar-dark bg-info box-shadow user-padding-left">
    <a class="navbar-brand" href="/">Index</a>
    <a class="navbar-brand" href="/authorization">Authorization</a>
    <a class="navbar-brand" href="/register">Registration</a>
</div>

<div class="container">
    <h3>{{.Pagetitle}}</h3>
    <hr>
    {{if  .Err}}
        <p style="color: red">{{.Message}}</p>
        <p style="color: red">{{.Err}}</p>
    {{else}}
        <p style="color: green">{{.Message}}</p>
    {{end}}

    <form method="POST">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="glyphicon glyphicon-trash"></span><label for="login">Login:</label><br/>
        <input class="form-control" type="text" name="login" id="login"><br/>
        <label for="password">Password:</label><br/>
        <input class="form-control" type="password" name="password" id="password"><br/>
        <input type="submit">
    </form>
</div>


<div class="page-footer font-small text-center user-footer">2020</div>

</body>
</html>